/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Tabmail Tabs
 */

#tabs-toolbar {
  -moz-appearance: none;
  padding: 0;
}

#tabs-toolbar:-moz-lwtheme {
  border-bottom: 1px solid transparent;
}

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

.tabmail-tabs[overflow="true"] {
  -moz-padding-start: 0px;
}

.tabmail-tabs > .tabmail-tab:first-child > .tab-stack > .tab-content >
.tab-close-button {
  visibility: collapse;
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/**
 * Tab
 */

.tabmail-tab {
  -moz-appearance: none;
  background: transparent;
  border: none;
  color: #2e3436;
  margin: 0;
  padding: 0;
}

.tabmail-tab > .tab-stack {
  margin: 0;
  -moz-margin-start: -9px;
  padding: 6px 11px 4px 11px;
}

.tabmail-tab:first-of-type > .tab-stack {
  -moz-margin-start: 0;
}

/* I Love Firefox! */
.tabmail-tab[hidden="true"] + .tabmail-tab:not([hidden="true"]) > .tab-stack {
  -moz-margin-start: 0;
}

.tabmail-tabs:not([overflow]) > .tabmail-tab:not([hidden="true"]) ~ .tabmail-tab[hidden="true"] + .tabmail-tab:not([hidden="true"]) > .tab-stack,
.tabmail-tabs[overflow] > .tabmail-tab:not([hidden="true"]):not([pinned]) ~ .tabmail-tab[hidden="true"] + .tabmail-tab:not([hidden="true"]) > .tab-stack {
  -moz-margin-start: -9px;
}

.tabmail-tabs[overflow] > .tabmail-tab[pinned] + .tabmail-tab:not([pinned]) > .tab-stack {
  -moz-margin-start: 0;
}

.tabmail-tab:not([selected="true"]) > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch;
}

.tabmail-tab[selected="true"] > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-selected.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch;
}

/* All the tabs after the selected tab (hack) */
.tabmail-tabs:not([movingtab]) > .tabmail-tab[selected="true"] ~ .tabmail-tab > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-right.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

/* All the tabs after the selected tab (hack)
   (image mirrored for RTL locales) */
.tabmail-tabs:not([movingtab]) > .tabmail-tab[selected="true"] ~ .tabmail-tab:-moz-locale-dir(rtl) > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-right-rtl.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

.tabmail-tabs[overflow] > .tabmail-tab[pinned] + .tabmail-tab:not([pinned]):not([selected="true"]) > .tab-stack,
.tabmail-tabs[overflow] > .tabmail-tab[pinned] ~ .tabmail-tab[hidden="true"] + .tabmail-tab:not([hidden="true"]):not([selected="true"]) > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

/* Updated tabs (in the background) */
.tabmail-tab[titlechanged]:not([selected="true"]) > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-new.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

/* All the updated tabs after the selected tab (hack) */
.tabmail-tabs:not([movingtab]) > .tabmail-tab[selected="true"] ~ .tabmail-tab[titlechanged] > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-new-right.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

/* All the updated tabs after the selected tab (hack)
   (image mirrored for RTL locales) */
.tabmail-tabs:not([movingtab]) > .tabmail-tab[selected="true"] ~ .tabmail-tab[titlechanged]:-moz-locale-dir(rtl) > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-new-right-rtl.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

.tabmail-tabs[overflow] > .tabmail-tab[pinned] + .tabmail-tab:not([pinned])[titlechanged] > .tab-stack,
.tabmail-tabs[overflow] > .tabmail-tab[pinned] ~ .tabmail-tab[hidden="true"] + .tabmail-tab:not([hidden="true"])[titlechanged] > .tab-stack {
  -moz-border-image: url(tabmail/adwaita-tab-new.png) 7 8 1 8 fill / 7px 8px 1px 8px stretch !important;
}

.tab-throbber,
.tab-icon-image {
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  margin: 1px 0;
  -moz-margin-start: -1px;
  -moz-margin-end: 3px;
  /*
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.png);
  */
}

.tab-throbber {
  list-style-image: url(tabmail/loading.png) !important;
  -moz-image-region: auto !important;
}

.tabs-newtab-button > .toolbarbutton-icon {
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
}

.tabmail-tab {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
}

/* Tab drag and drop */
.tab-drop-indicator {
  list-style-image: url(tabmail/tabDragIndicator.png);
  margin-bottom: -11px;
  -moz-padding-end: 9px;
}

/* In-tab close button */
.tab-close-button > .toolbarbutton-icon {
}

.tab-close-button {
  -moz-appearance: none;
  list-style-image: url(tabmail/close-normal.png);
  margin: 1px 0;
  -moz-margin-end: -3px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  z-index: 4;
  -moz-image-region: auto;
}
.tab-close-button:hover {
  list-style-image: url(tabmail/close-hover.png);
  background: none !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: none !important;
}
.tab-close-button:active:hover {
  list-style-image: url(tabmail/close-active.png);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.08) 2px, rgba(0, 0, 0, 0.07) 100%) !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  border-top-color: rgba(0, 0, 0, 0.27) !important;
  box-shadow: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

/* Tabstrip close button */
.tabs-closebutton {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
  border: none;
  margin-bottom: 1px;
}

/* tabmail arrowscrollbox arrows */

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down {
  -moz-appearance: none;
  margin: 0 !important;
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.tabmail-arrowscrollbox > .scrollbutton-up > .toolbarbutton-icon,
.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down > .toolbarbutton-icon {
  opacity: .7;
}

.tabmail-arrowscrollbox > .scrollbutton-up:hover > .toolbarbutton-icon,
.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:hover > .toolbarbutton-icon {
  opacity: .9;
}

.tabmail-arrowscrollbox > .scrollbutton-up:active:hover > .toolbarbutton-icon,
.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:active:hover > .toolbarbutton-icon {
  opacity: 1;
}

.tabmail-arrowscrollbox > .scrollbutton-up {
  -moz-border-start: 0 !important;
  -moz-border-end: 2px solid transparent !important;
}

.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down {
  -moz-border-start: 2px solid transparent !important;
  -moz-border-end: 0 !important;
  transition: 1s box-shadow ease-out;
  border-radius: 4px;
}

.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down[notifybgtab] {
  box-shadow: 0 0 5px 5px Highlight inset !important;
  transition: none;
}

.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled]):-moz-locale-dir(ltr),
.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:not([disabled]):-moz-locale-dir(rtl) {
  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: url(tabmail/tab-overflow-border.png) 0 2 0 2 fill !important;
}

.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down:not([disabled]):-moz-locale-dir(ltr),
.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled]):-moz-locale-dir(rtl) {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-image: url(tabmail/tab-overflow-border.png) 0 2 0 2 fill !important;
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.alltabs-item[selected] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://messenger/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.tabs-alltabs-button {
  margin-bottom: 1px;
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  margin-bottom: -1px;
  -moz-padding-start: 0 !important;
  list-style-image: url("chrome://messenger/skin/icons/dropmarker.svg");
}

.tabs-alltabs-button:hover > .toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://messenger/skin/icons/dropmarker-hover.svg");
}

.tabs-alltabs-button > .toolbarbutton-icon {
  display: none;
  -moz-margin-end: 0;
}

.alltabs-item > .menu-iconic-left {
  visibility: visible !important;
}

/* Content Tabs */

.contentTabToolbox {
  -moz-appearance: none;
  height: 0px;
  border: 0;
}

.contentTabInstance[disablechrome] .contentTabToolbox {
  display: none;
}

.contentTabToolbox:not(:-moz-lwtheme) {
  border-bottom: 1px solid rgb(105, 105, 105);
}

.contentTabToolbox:-moz-lwtheme {
  height: 1px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.contentTabToolbar {
  height: 0px;
  min-height: 0px;
  padding: 0;
}
